{% extends 'base.html.twig' %}

{% block title %}Hello FamiliaController!{% endblock %}

{% block body %}
    {% if citas is empty %}
        No existen citas para mostrar
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for cita in citas %}
                
                <tr>
                    <td>{{cita.fecha|date("d/m/Y")}}</td>
                    <td>{{cita.hora|date("H:i:s")}}</td>
                    <td>{{cita.Servicio.nombre}}</td>
                    <td><a href="/familia/{{servicio}}/{{cita.id}}" class="btn btn-primary {% if cita.disabled == true %}disabled{% endif %}">Reservar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/familia" class="btn btn-primary">⏪</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="/consulta/{{servicio}}/{{username}}" class="btn btn-primary">Consulta</a>
        {% endif %}
        
    {% endif %}
{% endblock %}
