{% extends 'base.html.twig' %}

{% block title %}Hello FamiliaController!{% endblock %}

{% block menu %}
    {% set hide_user_nav = true %}
        <nav class="navbar navbar-dark navbar-expand">
            <div class="container-fluid">
                <a href="https://www.iesjoseplanes.es/" target="_blank">
                    <img id="icon" src="/svg/logoPlanesSinFondo.svg">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if (hide_user_nav is defined) %}
                                <a class="nav-link" href="/familia/{{trabajador}}/{{servicio}}/consulta/{{username}}">Consulta</a>
                            {% endif %}
                            <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesión</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('app_login') }}">Iniciar sesión</a>
                            <a class="nav-link" href="{{ path('app_register') }}">Registrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
{% endblock %}

{% block body %}

    <div id="calendar">
    </div>


    {# <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formulario">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="start">
                            <label for="exampleFormControlInput1" class="form-label">Fecha de inicio</label>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </form>    
            </div>
        </div>
    </div> #}
    
    {# {% if citas is empty %}
        No existen citas para mostrar
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for cita in citas %}
                {% if cita.tutor.id == id %}
                    <tr>
                        <td>{{cita.fecha|date("d/m/Y")}}</td>
                        <td>{{cita.hora|date("H:i:s")}}</td>
                        <td>{{cita.Servicio.nombre}}</td>
                        <td><a href="/familia/{{servicio}}/{{cita.id}}" class="btn btn-primary {% if cita.disabled == true %}disabled{% endif %}">Reservar</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <a href="/familia" class="btn btn-primary">⏪</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="/consulta/{{servicio}}/{{username}}" class="btn btn-primary">Consulta</a>
        {% endif %}
    {% endif %} #}
{% endblock %}

{% block javascripts %}
    <script src="/public/javascripts/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"></script>
    <script src="/public/javascripts/es.js"></script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                locale: 'es',
                initialView: 'dayGridMonth',
                firstDay: 1,
                timeZone: 'Europe/Madrid',
                /*customButtons: {
                    consulta: {
                        themeIcon: "refresh",
                        text: "Consulta",
                        click: function(){
                            window.open(`/familia/{{trabajador}}/{{servicio}}/consulta/{{username}}`,"_self")
                        }
                    },
                },*/
                headerToolbar: {
                    start: 'prev,next,today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,listWeek',
                },
                events: {{data|raw}},
                eventClick: function(e) {
                    window.open(`/familia/{{trabajador}}/{{servicio}}/${e.event.id}`,"_self") 
                },
                /*
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                */
                eventResizableFromStart: true,
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
                buttonText: {
                    today:    'Hoy',
                    month:    'Mes',
                    week:     'Semana',
                    day:      'Día',
                    list:     'Lista'
                },
                allDaySlot: false,
            })
            calendar.render()
        }
    </script>
{% endblock %}