{% extends 'base.html.twig' %}

{% block title %}Tutores{% endblock %}

{% block body %}

    {# {% for tutor in tutores %}
    <div class="card" style="width: 18rem;">
        <a href="{{path('aniadir_citas')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">{{tutor.user.username}}</p>
        </div>
    </div>
    {% endfor %} #}
    <div id="desplegarTutores">
        {# {{ form(form) }} #}
        {{ form_start(form) }}
            <label for="tutor">Elige un tutor</label>
            <select id="selectTutores" name="selectTutores">
                {% for tutor in tutores %}
                    <option value="{{tutor.id}}">{{tutor.username}}</option>
                {% endfor %} 
            </select>
            {{ form_row(form.Elegir) }}
        {{ form_end(form) }}
    </div>
    
    
{% endblock %}