{% extends 'base.html.twig' %}

{% block title %}Hello FamiliaController!{% endblock %}

{% block body %}
	<div id="reservabodyBlock">
		<h1 style="text-align: center;">Reservas</h1>
			{% if reservas is empty %}
				No se han encontrado reservas
			{% else %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Tutor</th>
							<th>Fecha de inicio</th>
							<th>Hora de inicio</th>
							<th>Fecha de fin</th>
							<th>Hora de fin</th>
							<th>Servicio</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for reserva in reservas %}
									{# {{ dump(reserva.calendar.user.username) }} #}
								{% if username == reserva.calendar.user.username and reserva.calendar.servicios.Nombre == servicio %}
									<tr>
										<td>{{ reserva.tutor.username}}</td>
										<td>{{ reserva.calendar.start|date('d-m-Y')}}</td>
										<td>{{ reserva.calendar.start|date('H:i:s')}}</td>
										<td>{{ reserva.calendar.end|date('d-m-Y')}}</td>
										<td>{{ reserva.calendar.end|date('H:i:s')}}</td>
										<td>{{ reserva.calendar.servicios.Nombre}}</td>
										<td><a href="/anular/{{reserva.id}}" class="btn btn-primary">Anular</a></td>
									<tr>
								{% endif %}
						{% endfor %}
					</tbody>
				</table>
				</br>
				<a class="btn btn-primary" href="/familia/{{trabajador}}/{{servicio}}">Volver a {{servicio}}</a>
			{% endif %}
	</div>
{% endblock %}
