{% extends 'base.html.twig' %}

{% block title %}Hello FamiliaController!{% endblock %}

{% block body %}

	<h1>Reservas</h1>
	<ul>
		{% if reservas is empty %}
			No se han encontrado reservas
		{% else %}
			<ul>
				{% for reserva in reservas %}
						{% if username == reserva.cita.User.username and reserva.cita.Servicio.Nombre == servicio %}
							<li>
								{{ reserva.cita.fecha |date('Y-m-d')}}
								{{ reserva.cita.hora |date('H:i:s')}}
								<a href="/anular/{{reserva.id}}">Anular</a>
							</li>
							<br>
						{% endif %}
				{% endfor %}
			</ul>
			</br>
    		<a class="btn btn-primary" href="/familia/{{servicio}}">Volver a {{servicio}}</a> 
		{% endif %}
{% endblock %}
