{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {% if is_granted('ROLE_USER') %}
            {# {{ render(controller('App\\Controller\\MainController::indexAlumnado')) }} #}
            {{ render('.' ~ path('main') ~ path('alumnado'))}}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {# {{ render(controller('App\\Controller\\MainController::indexTutor')) }} #}
            {{path('tutor')}}
        {% endif %}
        {% if is_granted('ROLE_SEMIADMIN') %}
            {# {{ render(controller('App\\Controller\\MainController::indexPlantilla')) }} #}
            {{path('plantilla')}}
        {% endif %}

        <button type="submit">login</button>
    </form>
{% endblock %}
